@model Entity.Concrate.Category
@{
    ViewBag.Title = "AddCategory";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

@using (Html.BeginForm("AddCategory", "AdminCategory", FormMethod.Post))
{
    @Html.ValidationSummary()
    <div class="form-group">
        @Html.Label("Kategori Adı", new { @class = "col-md-2" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.CategoryName, new { @class = "form-control" })
            @*@Html.ValidationMessageFor(m => m.CategoryName)*@
        </div>
        <br />
        @Html.Label("Kategori Açıklaması", new { @class = "col-md-2" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.CategoryDescription, new { @class = "form-control" })
            @*@Html.ValidationMessageFor(m => m.CategoryName)*@
        </div>
        <br />
        @Html.Label("Kategori Durumu", new { @class = "col-md-2" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.CategoryStatüs, new { @class = "form-control" })
        </div>
        <br />
        <button type="submit" class="btn btn-primary">Kaydet</button>
    </div>
}

