@using Entity.Concrate
@using PagedList
@using PagedList.Mvc
@model PagedList.IPagedList<Category>
@*@model List<Category>*@
@{
    ViewBag.Title = "CategoryList";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<br />
<table class="table table-hover table-bordered table-sm">
    <tr class="bg-primary text-white">
        <th>Kategori Adı</th>
        <th>Kategori Açıklama</th>
        <th>Kategori Durum</th>
        <th>Sil</th>
        <th>Güncelle</th>
        <th>Başlıklar</th>
    </tr>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.CategoryName</td>
                <td>@item.CategoryDescription</td>
                <td>@item.CategoryStatüs</td>
                <td> @Html.ActionLink("Sil", "DeleteCategory", new { id = item.CategoryID }, new { @class = "btn btn-danger btn-sm" })</td>
                <td> @Html.ActionLink("Güncelle", "UpdateCategory", new { id = item.CategoryID }, new { @class = "btn btn-warning btn-sm" })</td>
                <td><a href="#" class="btn btn-outline-warning btn-sm">Başlıklar</a></td>
            </tr>
        }
    </tbody>
</table>
@Html.ActionLink("Kategori Ekle", "AddCategory", null, new { @class = "btn btn-info" })
@Html.PagedListPager((IPagedList)Model, pageNumber => Url.Action("CategoryList", new { pageNumber }), new PagedListRenderOptions
{
    LiElementClasses = new List<string>
    {
        "page-link"
    }
})
