@using Entity.Concrate
@model List<Heading>
@{
    ViewBag.Title = "HeadingList";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<br />
<table class="table table-hover table-bordered table-sm">
    <tr class="bg-primary text-white">
        <th>Heading ID</th>
        <th>Heading Name</th>
        <th>Heading date</th>
        <th>Kategori Name</th>
        <th>writer Name</th>
       
    </tr>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.HeadingID</td>
                <td>@item.HeadingName</td>
                <td>@item.HeadingDate.ToShortDateString()</td>
                <td>@item.Category.CategoryName</td>
                <td>@item.Writer.WriterName @item.Writer.WriterSurname</td>
               
            </tr>
        }
    </tbody>
</table>
@Html.ActionLink("Başlık Ekle", "AddHeading", null, new { @class = "btn btn-info" })


