@using Entity.Concrate
@model List<Content>
@{
    ViewBag.Title = "ContentByHeading";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}



<div class="container pt-3">
    <!-- Timelime example  -->
    <div class="row">
        <div class="col-md-12">
            <div class=" col-md-3 card card-header bg-danger text-center font-weight">
                @ViewBag.HeadName

            </div>
            @foreach (var item in Model)
            {
                <div class="timeline">
                    <!-- timeline time label -->
                    <div class="time-label">
                        <span class="bg-success">@item.ContentDate.ToShortDateString()</span>
                    </div>
                    <!-- /.timeline-label -->
                    <!-- timeline item -->
                    <div>
                        <i class="fas fa-user bg-info"></i>

                        <div class="timeline-item">

                            <h3 class="timeline-header border-0">
                                <a href="#">@item.Writer.WriterName @item.Writer.WriterSurname</a>
                            </h3>
                        </div>
                    </div>
                    <!-- END timeline item -->
                    <!-- timeline item -->
                    <div>
                        <i class="fas fa-comments bg-warning"></i>

                        <div class="timeline-item">

                            <div class="timeline-body">
                                @item.ContentText
                            </div>

                        </div>
                    </div>
                    <!-- END timeline item -->
                </div>
            }
            <!-- The time line -->

        </div>
        <!-- /.col -->
    </div>

</div>



@*<div class="timeline">
    <div>
        <i class="fas fa-user bg-info"></i>

        <div class="timeline-item">
            <span class="time"><i class="far fa-clock"></i> 5 mins ago</span>

            <h3 class="timeline-header border-0">
                <a href="#">Sarah Young</a> accepted your friend request
            </h3>
        </div>
    </div>   
    <div>
        <i class="fas fa-comments bg-warning"></i>

        <div class="timeline-item">
            <span class="time"><i class="far fa-clock"></i> 27 mins ago</span>

            <h3 class="timeline-header"><a href="#">Jay White</a> commented on your post</h3>

            <div class="timeline-body">
                Take me to your leader!
                Switzerland is small and neutral!
                We are more like Germany, ambitious and misunderstood!
            </div>
            <div class="timeline-footer">
                <a href="#" class="btn btn-warning btn-flat btn-sm">View comment</a>
            </div>
        </div>
    </div>
</div>*@