@model Entity.Concrate.Message
@{
    ViewBag.Title = "GetMessageDetails";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}


<div class="container-fluid pt-2">
    <div class="row">
        <div class="col-md-3">
            <a href="/Message/Inbox" class="btn btn-primary btn-block mb-3">Gelen Kutusuna Dön</a>

            @Html.Action("ContactSideBar", "Contact")

        </div>
        <!-- /.col -->
        <div class="col-md-9">
            <div class="card card-primary card-outline">
                <div class="card-header">
                    <h3 class="card-title">Mail Oku</h3>

                    <div class="card-tools">
                        <a href="#" class="btn btn-tool" data-toggle="tooltip" title="Previous"><i class="fas fa-chevron-left"></i></a>
                        <a href="#" class="btn btn-tool" data-toggle="tooltip" title="Next"><i class="fas fa-chevron-right"></i></a>
                    </div>
                </div>
                <!-- /.card-header -->
                <div class="card-body p-0">

                    <div class="mailbox-read-info">
                        <h5>@Model.MessageSubject</h5> <br />
                        <h6>
                            @Model.ReceiverMail 
                            <span class="mailbox-read-time float-right">@Model.MessageDate.ToShortDateString()</span>
                        </h6>
                    </div>
                    <!-- /.mailbox-read-info -->
                    <!-- /.mailbox-controls -->
                    <div class="mailbox-read-message">
                        <p>
                            @Model.MessageContent
                        </p>
                    </div>
                    <!-- /.mailbox-read-message -->

                </div>
                <!-- /.card-body -->
                <!-- /.card-footer -->
                <div class="card-footer">
                    <div class="float-right">
                        <button type="button" class="btn btn-default"><i class="fas fa-reply"></i> Reply</button>
                        <button type="button" class="btn btn-default"><i class="fas fa-share"></i> Forward</button>
                    </div>
                    <button type="button" class="btn btn-default"><i class="far fa-trash-alt"></i> Delete</button>
                    <button type="button" class="btn btn-default"><i class="fas fa-print"></i> Print</button>
                </div>
                <!-- /.card-footer -->
            </div>
            <!-- /.card -->
        </div>
        <!-- /.col -->
    </div>
    <!-- /.row -->
</div>